/* ----------------- some default css will be here  --------------  */
/* .container{
    width:1320px;
    margin:0 auto;
} */
   /* ---------- left fixed icon menu area ---------  */
   #left-icon-menu{
    width: 4%;
    height: 300px;
    background: url(./images/black-left-bg.png);
    background-repeat: no-repeat;
    position:fixed;
    top: 46%;
    left: 0%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#left-icon-menu ul{margin-top: -90px;margin-right: 28px;}
#left-icon-menu ul li{
    list-style-type:none;
    margin-bottom: 32px;
}
#left-icon-menu ul li a{
    text-decoration:none;
    color:#646464;
    display:inline-block;
    width: 28px;
    height: 28px;
    font-size: 16px;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}
#left-icon-menu ul li a.active-menu i{
    background: -webkit-gradient(linear, left top, right top, from(#F5BD4D), to(#F89222));
    background: -o-linear-gradient(left, #F5BD4D, #F89222);
    background: linear-gradient(to right, #F5BD4D, #F89222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#left-icon-menu ul li a:hover{
    background: -webkit-gradient(linear, left top, right top, from(#F5BD4D), to(#F89222));
    background: -o-linear-gradient(left, #F5BD4D, #F89222);
    background: linear-gradient(to right, #F5BD4D, #F89222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

        /* --------- author info & language right side----------  */
#author-right{
    background: url(./images/black-right-bg.png);
    width: 4%;
    height: 400px;
    background-repeat:no-repeat;
    position:fixed;
    right: -2px;
    top:28%;
}

#author-right p{
    color:#A5A5A5;
    font-size:12px;
    font-weight: 400;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    white-space: nowrap;
}
#author-right div{
    position:relative;
    top: 74%;
    left: 22%;
}
#author-right div a {
    display:block;
    text-decoration: none;
    color: #fff;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #646464;
    font-size: 11px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 12px;
}

#author-right div a.active-lang {
    background: #F5BD4D;
}
/*                         default css ends here                     */


 /* ------------     main responsive css starts from here      ---------------        */

 /*            for mobile only          */
 @media (max-width: 576px) {
    .section-title{
        font-size:30px;
    }
    /* ---------- header section --------  */

    .head-left .logo{
        width:110px;
    }
    .head-left p{
        font-size:12px;
    }
    .head-right {
        display:block;
    }
    .head-right h3 i{
        font-size:12px;
        width:20px;
        height:20px;
        margin-right:8px;
    }
    .head-right h3{
        display:inline-block;
        font-size:20px;
        float:left;
    }
    .head-right a{
        font-size:14px;
        width:100px;
        padding:5px 0;
    }
    /* -------------- responsive contact section -----------  */
    #contact{
        padding:30px 0;
    }
    form #fname, #lname, #email, #phone{
        width:100%;
        margin-bottom:6px;
    }
    form div > label{
        font-weight:400;
        font-size:16px;
    }
    form #fname input, #lname input, #email input, #phone input, #message textarea, input[type=submit]{
        height:44px;
    }
    form #message textarea{
        height:100px;
        margin-top:30px;
        margin-bottom: 20px;
    }
    form input[type=submit]{
        font-size:16px;
    }

   /* ---------- left fixed icon menu area ---------  */
   #left-icon-menu{
    width: 6%;
    height: 230px;
    background: rgba(19, 15, 64,0.3);
    border-radius: 10px;
    top: 40%;
    left: 94%;
    z-index: 99;
}
#left-icon-menu ul{
    margin-top: 0;
    margin-top: 42px;
}
#left-icon-menu ul li{
    margin-bottom: 24px;
}
#left-icon-menu ul li a{
    text-decoration:none;
    color:#646464;
    display:inline-block;
    width: 28px;
    height: 28px;
    font-size: 16px;
}
    /* --------- max: 480px - break ponint ends --------  */
 }


/*              For Mobile landscape mode & Tablet screen            */
@media (max-width: 767px) {
    .section-title{
        font-size:2rem;
    }
    /* ---------- header section --------  */
    .head-left .logo{
        width:100px;
    }
    .head-left a{
        display:block;
        width:fit-content;
        margin:auto;
    }
    .head-left p{
        font-size:14px;
    }
    .head-right h3 i{
        font-size:14px;
        width:24px;
        height:24px;
        margin-right:8px;
    }
    .head-right h3{
        font-weight:400;
        font-size:20px;
    }
    .head-right a{
        font-size:14px;
        border-radius:50px;
        width:124px;
    }
    /* -------------- responsive hero section -----------  */
    .hero-left .profile{
        width: 100%;
    }
    .hero-left .profile img{
        display:block;
        width:60%;
        margin:auto;
    }
    .profile .social-icon{
        padding:5px 0 8px 0;
    }
    .hero-right .intro {
        width: 100%;
        margin: 30px auto 0;
        text-align: center;
    }
    .intro h2{
        font-size: 1.90rem;
        line-height:130%;
        margin:14px 0;
    }
    .intro p{
        margin-bottom: 20px;
    }
    .down-btn a{
        padding:14px 30px;
        font-size:14px;
        margin: auto;
    }
    /* --------------- pricing section ---------------  */
    .price-card-container{
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-row-gap: 22px;
    }
        /* -------------- responsive resume section -----------  */
        /* -------------- responsive skill section -----------  */
        /* -------------- responsive portfolio section -----------  */
    #portfolio{
        padding:30px 0;
    }
    .port-menu ul li a{
        font-size:14px;
        font-weight: 300;
    }
    .portfolio-col-right .portfolio-grid {
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
        margin-top:20px;
    }
    .portfolio-overlay i{
        width:22px;
        height: 22px;
        font-size:10px;
        bottom: 77%;
    }
    .portfolio-overlay h4{
        font-size:15px;
        font-weight:500;
        margin-bottom:10px;
    }
    .portfolio-overlay p{
        font-size:11px;
    }
        /* -------------- responsive blog section -----------  */
    .blog-col-right .blog-cards-container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
    }
    .blog-column .single-blog:last-child{
        margin-bottom: 0;
    }
    /* -------------- responsive pricing section -----------  */
    .price-card-container{
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }
    .pricing-card h2.pack-price{
        font-size:40px;
    }
    /* -------------- responsive contact section -----------  */
    form div > label{
        font-weight:400;
        font-size:16px;
    }
    form #fname input, #lname input, #email input, #phone input, #message textarea, input[type=submit]{
        height:44px;
    }
    form #message textarea{
        height:100px;
        margin-bottom: 20px;
    }
    form input[type=submit]{
        font-size:16px;
    }
    /* ---------- left fixed icon menu area ---------  */
    #left-icon-menu ul li a{
        width: 20px;
        height: 20px;
        font-size: 14px;
    }
    /* --------- author info & language right side----------  */
     #author-right{
        display:none;
     }
 /* --------- max: 768px - break ponint ends --------  */
 }

  /*                   Tablet & Medium Screens              */
  @media (min-width: 768px) and (max-width: 991px) {

    .section-title{
        font-size:2.5rem;
    }
    /* ---------- header section --------  */

    .head-left .logo{
        width:100px;
    }
    .head-left p{
        font-size:15px;
    }
    /* -------------- responsive hero section -----------  */
    .hero-left .profile{
        width: 100%;
    }
    .hero-left .profile img{
        max-width:850%;
        display:block;
        margin:auto;
    }
    .profile .social-icon{
        padding:5px 0 6px 0;
    }
    .hero-right .intro {
        width: 100%;
        margin: 30px auto 0;
        text-align: center;
    }
    .intro h2{
        font-size: 2.125rem;
        line-height:130%;
        margin:14px 0;
    }
    .intro p{
        margin-bottom: 20px;
    }
    .down-btn a{
        padding:14px 30px;
        font-size:14px;
        margin:auto;
    }/* -------------- responsive resume section -----------  */

    /* -------------- responsive skill section -----------  */

    /* -------------- responsive portfolio section -----------  */

    /* -------------- responsive blog section -----------  */

    .single-blog .blog-content .blog-title{
        font-size:17px;
    }
    .single-blog .blog-content .post-author{
        font-size:13px;
    }
    .post-author::after{
        right: -140px;
    }

    /* -------------- responsive pricing section -----------  */
    .price-card-container{
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: minmax(220px , 1fr ) 15px minmax(220px , 1fr );
        grid-template-columns: repeat(2, minmax(220px , 1fr ));
        grid-gap: 15px;;
    }

    /* ---------max: 1024px - break ponint ends --------  */
  }
  
  /* ------------ Laptops & Desktops --------------- */
  @media (min-width: 992px) {
    /* large screen styles here */
    /* ---------- header section --------  */
    .head-left .logo{
        width:130px;
    }
    .head-left p{
        font-size:1rem;
    }
    /* -------- responsive pricing section -----  */
    #pricing .pricing-row{
        margin: 0;
    }
    .price-card-container{
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: minmax(250px , 1fr ) 15px minmax(250px , 1fr );
        grid-template-columns: repeat(2, minmax(250px , 1fr ));
        grid-gap: 15px;
    }

/* ---------min: 1025px - break ponint ends --------  */
  }
  